body { 
  background-image: url("../images/bg.jpg");
  background-size: cover;
}
header{
  margin-top: 20p;
}
h1 {
  margin-top: 30px;
  font-family: "Boogaloo"; 
  text-shadow: 2px 2px 2px white;
}
#vs-row{
  max-width: 670px;
  visibility: hidden;
}
#hidden{
  visibility: hidden;
}

.characters{
  max-width: 920px;
  padding: 10px;
}

.character { 
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  color: white;
  font-family: "Boogaloo";
  position: relative;
 }
#display {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  color: black;
  background-color: white;
  font-family: "Boogaloo";
  border: solid black 3px;
}
.friendly {
   border: solid green 3px;
}

.in-conflict {
      border: 3px solid red;
      max-width: 200px;
}
.hp{
  margin-top: 100px;
}
#ross{
  background-image: url('../images/ross.jpeg');
}
#rogers{
  background-image: url('../images/rogers.jpeg');
}
#twilight{
  background-image: url('../images/twilight.jpeg');
}
#garnet{
  background-image: url('../images/garnet.jpeg');
}
#resolve{
  margin-top: 80px;
  margin-left: 15px;
  margin-right: 25px;
}
.middle-text{
  
  display           : flex;
  justify-content   : center;
  flex-direction    : column; 
  
}